*.pb
*.pt
*.pth
*.jpg
*.jpeg
*.JPG
*.png
*.json
*.pytorch
*.zip
*.mp4
*.MP4
*.tar 
*.gz
*.config
*.weights
*.cfg
*.index
*.data
*.avi
email_config.txt
.empty/
*.h5
*.pyc
*.deb
*.csv
*.swp
*.pyc
*.cpy
*.cpython